#projects {
  width: 100%;
  height: 100vh;
  position: relative;
  color: $secondary-color;
}

#bubble_canvas {
  position: absolute;
  // background: linear-gradient(to bottom, $primary-color, black);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.projects {
  position: absolute;
  color: $secondary-color;
  width: 100%;

  &__title {
    width: 100%;
    text-align: center;
    margin-top: 4%;
  }

  &__body {
    &__section1 {
      margin-top: 20%;
      text-align: center;
    }
  }
}
